@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

:root {
    --color-bg: hsl(216, 12%, 8%);
    --color-container: rgb(24,28,36);
    --color-circle: rgb(29,35,42);
    --color-text: rgb(103,112,128); 
    --color-orange: hsl(25, 97%, 53%);
}


body {
    background-color: var(--color-bg);
    display: flex;
    justify-content: center;
    font-family: "Overpass";
}

.container {
    background-color: var(--color-container);
    width: 415px;
    height: 415px;
    border-radius: 25px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
}

.star {
    background-color: var(--color-circle);
    border-radius: 100%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 33px;
    margin-left: 33px;
}

h1 {
    color: white;
    font-size: 30px;
}

.rating-header {
    margin-left: 33px;
}

.rating-title {
    margin-top: 40px;
}

p {
    color: var(--color-text);
    margin-left: 33px;
    margin-right: 45px;
    font-size: 14px;
    line-height: 25px;
}

.rating-txt {
    margin-top: -5px;
    margin-bottom: 15px;
}

.rating-options {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 33px;
    margin-right: 33px;
}

.number {
    color: var(--color-text);
    border-radius: 100%;
    width: 50px;
    height: 50px;
    background-color: var(--color-circle);
    border: none;
}

.number:hover {
    color: white;
    background-color: var(--color-orange);
    cursor: pointer;
}

.number:focus {
    color: white;
    background-color: var(--color-text);
}

.submit {
    background-color: var(--color-orange);
    color: white;
    border: none;
    width: 350px;
    margin-left: 33px;
    margin-right: 33px;
    height: 44px;
    border-radius: 22px;
    position: absolute;
    bottom: 33px;
}

.submit:hover {
    color: var(--color-orange);
    background-color: white;
    cursor: pointer;
}

/* #rating-container {
    display: none;
} */

#thank-you-container {
    background-color: var(--color-container);
    display: none;
}

.thank-you-img {
    display: flex;
    justify-content: center;
    margin-top: 45px;
}

#rating-report {
    color: var(--color-orange);
    text-align: center;
    background-color: var(--color-circle);
    padding: 10px 20px;
    border-radius: 18px;
    margin-top: 25px;
    margin-left: 50%;
    transform: translateX(-50%);
    width: fit-content;
}

.thank-you-header {
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

.thank-you-message {
    text-align: center;
    color: var(--color-text);
    margin-left: 33px;
    margin-right: 45px;
    font-size: 16px;
    line-height: 25px;
}





.attribution { 
    font-size: 11px; text-align: center; 
    position: absolute;
    text-align: center;
    bottom: 20px;
    width: 100%;
    color: var(--color-text);
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}